<header>
    <script src="https://kit.fontawesome.com/d40409e125.js" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-custom">

        <div>
        <!--Iconos FontAwesome-->
        <a href="https://www.linkedin.com" target="blank_"><i class="fab fa-linkedin"></i>    LinkedIn</a>
        <a href="https://instagram.com" target="blank_"><i class="fab fa-instagram-square"></i>    Instagram</a>
        <a href="https://facebook.com" target="blank_"><i class="fab fa-telegram-plane"></i>    Telegram</a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarNav">
        <!--Boton flotante--> <!--Icono FontAwesome-->
        <a href = "/" id="btn-cerrar" class="btn-flotante"> <i class="fa-solid fa-arrow-right-from-bracket"></i>Cerrar Sesion</a> 
        
        </div>
    </nav>
</header>